{% comment %}
  Placeholder to allow defining custom head, in principle, you can add anything here, e.g. favicons:

  1. Head over to https://realfavicongenerator.net/ to add your own favicons.
  2. Customize default _includes/custom-head.html in your source directory and insert the given code snippet.
{% endcomment %}

<!-- favicons -->
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

<!--random page generator-->
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<script type="text/javascript">
  function generateHomepagePosts()
  {
      $.getJSON("/search.json", function(data) {
          console.log("[search.json loaded for homepage posts]");

          let today = new Date().toISOString().slice(0, 10)
          let data_set = data.filter(data => data.resource == "true" && data.date <= today);

          // sort newest to oldest
          data_set.sort((a, b) => {
            if (a.date < b.date)
              return 1;
            if (a.date > b.date)
              return -1;
            return 0;
          });

          var dataNum = data_set.length;

          var dataNewestPosts = data_set;
          var newestPostsCount = dataNewestPosts.length;
          var newestPosts = dataNewestPosts;
          var counterNewest = 0;
          var numberOfNewestPosts = 1; // value cannot exceed dataNum

          var dataRandomPosts = dataNewestPosts.slice(numberOfNewestPosts, newestPostsCount);
          var randomPostsCount = dataRandomPosts.length;
          var randomPosts = dataRandomPosts;

          var randomIndexUsed = [];
          var counterRandom = 0;
          var numberOfRandomPosts = 1; // value cannot exceed dataNum - numberOfNewestPosts

          var divNewestPosts = $("#newest_posts")
          var divRandomPosts = $("#random_posts");

          // random posts
          while (counterRandom < numberOfRandomPosts)
          {
              var randomIndex = Math.floor(Math.random() * randomPostsCount);
                
              if (randomIndexUsed.indexOf(randomIndex) == "-1")
              {
                  var postHREF = randomPosts[randomIndex].href;
                  var postTitle = randomPosts[randomIndex].title;
                  var postFileName = randomPosts[randomIndex].filename;

                  if (counterRandom == (numberOfRandomPosts - 1))
                  {
                      divRandomPosts.append('<a href="' + postHREF + '">' + '<img alt="' + postTitle + '" src="' + postHREF + '/' + postFileName + '.png" style="border: 1px #a1a1a1 solid;">' + '</a>');
                  }
                  else
                  {
                      divRandomPosts.append('<a href="' + postHREF + '">' + '<img alt="' + postTitle + '" src="' + postHREF + '/' + postFileName + '.png" style="border: 1px #a1a1a1 solid;">' + '</a>');
                  }

                  randomIndexUsed.push(randomIndex);

                  counterRandom++;
              }
          }

          // newest posts
          while (counterNewest < numberOfNewestPosts)
          {
              newestIndex = counterNewest;

              var postHREF = newestPosts[newestIndex].href;
              var postTitle = newestPosts[newestIndex].title;
              var postFileName = newestPosts[newestIndex].filename;

              if (counterNewest == (numberOfNewestPosts - 1))
              {
                  divNewestPosts.append('<a href="' + postHREF + '">' + '<img alt="' + postTitle + '" src="' + postHREF + '/' + postFileName + '.png" style="border: 1px #a1a1a1 solid;">' + '</a>');
              }
              else
              {
                  divNewestPosts.append('<a href="' + postHREF + '">' + '<img alt="' + postTitle + '" src="' + postHREF + '/' + postFileName + '.png" style="border: 1px #a1a1a1 solid;">' + '</a>');
              }

              counterNewest++;
          }
      });
  }



  $(document).ready(function() {
      generateHomepagePosts();
  });

</script>
