{% comment %}
  Placeholder to allow defining custom head, in principle, you can add anything here, e.g. favicons:

  1. Head over to https://realfavicongenerator.net/ to add your own favicons.
  2. Customize default _includes/custom-head.html in your source directory and insert the given code snippet.
{% endcomment %}

<!-- favicons -->
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

<!--random page generator-->
<!-- {% assign today = site.time %} -->

<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<script type="text/javascript">
  function generateHomepagePosts()
  {
      $.getJSON("/search.json", function(data) {
          console.log("[search.json loaded for homepage posts]");

          // let today = new Date().toISOString().slice(0, 10)
          var today = "{{ site.time }}"
          let data_set = data.filter(data => data.resource == "true" && data.date <= today);

          // sort newest to oldest
          data_set.sort((a, b) => {
            if (a.date < b.date)
              return 1;
            if (a.date > b.date)
              return -1;
            return 0;
          });

          var dataNum = data_set.length;

          var dataNewestPosts = data_set;
          var newestPostsCount = dataNewestPosts.length;
          var newestPosts = dataNewestPosts;
          var numberOfNewestPosts = 8; // value cannot exceed dataNum

          var dataRandomPosts = dataNewestPosts.slice(numberOfNewestPosts, newestPostsCount);
          var randomPostsCount = dataRandomPosts.length;
          var randomPosts = dataRandomPosts;

          var randomIndexUsed = [];
          var numberOfRandomPosts = 8; // value cannot exceed dataNum - numberOfNewestPosts

          var divNewestPosts = $("#newest_posts");
          var divRandomPosts = $("#random_posts");

          compilePageList(newestPosts, numberOfNewestPosts, newestPostsCount, divNewestPosts, random=false)
          compilePageList(randomPosts, numberOfRandomPosts, randomPostsCount, divRandomPosts)

        });
  }

  // list compiler function
  function compilePageList(posts, numberOfPosts, postsCount, divPosts, random=true)
  {
    counter = 0;
    indexUsed = [];
    while (counter < numberOfPosts)
      {
      if (random==true)
      {  
        var index = Math.floor(Math.random() * postsCount);
      }else{
        var index = counter;
      }
            
          if (indexUsed.indexOf(index) == "-1")
          {
              var postHREF = posts[index].href;
              var postTitle = posts[index].title;
              var postFileName = posts[index].filename;

              if (counter == (numberOfPosts - 1))
              {
                  divPosts.append('<a href="' + postHREF + '">' + '<img alt="' + postTitle + '" src="' + postHREF + '/' + postFileName + '.png">' + '</a>');
              }
              else
              {
                  divPosts.append('<a href="' + postHREF + '">' + '<img alt="' + postTitle + '" src="' + postHREF + '/' + postFileName + '.png">' + '</a>');
              }

              indexUsed.push(index);

              counter++;
          }
      }
  }


  $(document).ready(function() {
      generateHomepagePosts();
  });

</script>
