// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

/**
 * Multiple columns
 */
.column {
  float: left;
  padding: 0px 20px 0px 5px;
  width: 40%;

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

//Site title
.brand-image {
  padding: 0px 10px 5px 0px;
  height: 1em
}

.site-title{
  &:hover {
    color: $link-hover-color;
    text-decoration: none;
  }
}

//Collapsible list
details {
  width: 100%;
  padding: 0px 0px 8px 0px; //top right bottom left
}

details summary.level_one {
  cursor: pointer;
  padding: 3px 10px 3px 10px; //top right bottom left
  font-style: italic;
  background-color: $border-color-01;
  border-radius: 3px;
}

details summary.level_two {
  cursor: pointer;
  // width: 50; //fix scaling behavior
  padding: 3px 10px 3px 20px; //top right bottom left
  font-style: none;
  background-color: none;
  border-radius: 3px;
}

details ul {
  padding-left: 3px;
}

//Scroll container
div.scroll-container {
  background-color: $code-background-color; //#f2f2f2;
  margin: 0;
  padding: 0;
  width: 100%;
  border: none;
  white-space: nowrap;
  overflow-x: auto;
  scrollbar-width: none;
  // -ms-overflow-style: none;
}

div.scroll-container img {
  display: inline;
  padding: 0;
  width: 220px;
  margin: 3px;
  border: 1px solid $border-color-02; //#dbdbdb;
}