---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <!-- display featured songs on home page -->

  <div class="row:after">

    <div class="row:after">
      <h2> Recently Added </h2>
      <div id="newest_posts" class="scroll-container">
      </div>
    </div>

    <p></p>

    <div class="row:after">
      <h2> Featured </h2>
      <div id="random_posts" class="scroll-container">
      </div>
    </div>
    
  </div>


</div>
