---
layout: page
---
 
  <div class="post-content">    

    {{ content }}
  
    <p>
        Listen to the arrangement using the audio controls below,
        or watch the video tutorial <a href="{{page.video_link}}" target="_blank" rel="noreferrer noopener"> here</a>.
    </p>

    

    <p>
      <audio controls>
        <source src="{{page.url}}/{{page.file_name}}.mp3" type="audio/mpeg">
      </audio>
    </p>
    
    <!-- <p>
      <a download href="{{page.url}}/{{page.file_name}}.pdf">Download PDF</a>
    </p> -->


    <p>
      <iframe src="{{page.url}}/{{page.file_name}}.pdf#toolbar=1" type="application/pdf" width="100%" height="800px">
        <!-- <p>Your browser does not support online PDF viewing.</p> -->
      </iframe>
    </p>
  </div>

